# You should already have Paramiko and your local Fabric checkout installed
# Test runner/testing utils
nose<2.0
# Rudolf adds color to the output of 'fab test'. This is a custom fork
# addressing Python 2.7 and Nose's 'skip' plugin compatibility issues.
git+https://github.com/iknite/rudolf#egg=rudolf
# Mocking library
Fudge<1.0
# used in some tests
jinja2
# flake8
configparser==3.7.4
entrypoints==0.3
enum34==1.1.6
flake8==3.7.7
mccabe==0.6.1
pycodestyle==2.5.0
pyflakes==2.1.1
typing==3.6.6
# Documentation generation (temporarily disabled)
#Sphinx==1.3.4
#alabaster>=0.6.1
# general test and release stuff
wheel==0.31.1
twine==1.11.0
