# You should already have Paramiko and your local Fabric checkout installed
# Test runner/testing utils
nose<2.0
# Rudolf adds color to the output of 'fab test'. This is a custom fork
# addressing Python 2.7 and Nose's 'skip' plugin compatibility issues.
https://github.com/iknite/rudolf/archive/4a33a26a3aff.tar.gz#egg=rudolf==0.4
# Mocking library
Fudge<1.0
# used in some tests
jinja2<3.0
# flake8
flake8==3.7.7
mccabe==0.6.1
pycodestyle==2.5.0
pyflakes==2.1.1
# for making releases
wheel>=0.31.0
twine>=1.11.0
